.DS_Store
.tags*
.vscode
Dockerfile
log/
results/
tmp/
tags
*.lock.*

terraform.tfvars
.terraform/
*.tfstate*
!example.tfvars
*.keys
*.license
*.creds
*.swp
.idea

inspec.lock

.kitchen/
local_testing/
