# Documentation https://expeditor.chef.io/docs/getting-started/
---
github:
  delete_branch_on_merge: true

merge_actions:
  - trigger_pipeline:habitat/build

pipelines:
  - habitat/build
  - verify:
      public: true
      definition: .expeditor/verify.scaffolding-chef-infra.yml

project:
  alias: effortless

promote:
  channels:
    - unstable
    - stable
  actions:
    - built_in:promote_habitat_packages

slack:
  notify_channel: effortless-notify

subscriptions:
  - workload: pull_request_opened:{{agent_id}}:*
    actions:
      - post_github_comment:.expeditor/templates/welcome.mustache
